.logo {
    font-family: 'Dancing Script', cursive;
    background: deepskyblue;
    font-size: 30px;
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    text-align: center;
}
*{
    font-family: 'Alkatra', cursive;
}
.color {
    padding-top: 5px;
    color: black;
    display: inline-block;
}

.sddsd {
    border-radius: 20px 0px 20px 20px;
    background: orange;
    border: navajowhite;
    color: white;
    font-weight: 700;
}

.dfdf {
    background: white;
}

.circle {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: red;
}

.formdfdf {
    border-radius: 73% 27% 24% 76% / 58% 72% 28% 42%;
    text-align: center;
    /* width: 30em; */
    background-color: green;
    box-shadow: 0px 0px 27px 20px rgb(172 222 241);
}

.buttoncolor {
    color: white;
    width: 8em;
    height: 3em;
}

zener {
    font-size: 4.7em;
}

.hover:hover {
    color: blue;
}

.dfdfdf {
    align-items: center;
    transition: all 0.3s ease;

}

a {
    text-decoration: none;
}

.section-1-start {
    background: url(images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1-button,
.sect-2-button,
.card-hover,
.text-center button,
.ghhgh,
.section-6-contant {
    transition: all 0.5s ease;

}

.section-1-button:hover {
    color: #fff;
    border: none;
    box-shadow: 6px 6px 10px 0px black;
    background-color: #ff0000;
    border-color: #ffc720;
}

/* section 2 start */

.card-image {
    width: 10em;
    height: 10em;
    text-align: center;
}

.sixeee {
    width: 7em;
    /* height: 8em; */
}

.section-2-button button {
    background: blue;
    border: none;

}

.sect-2-button:hover {
    box-shadow: 0px 0px 11px 5px black;
    color: #000;
}

.card-hover:hover,
.ghhgh:hover,
.section-6-contant:hover {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 34px 7px #0000ff20;
}

/* setction 3 start */


.section-2-image-1 {
    background: red;
    width: 12em;
    right: 100px;
    bottom: -40px;
    z-index: 3;
    border-radius: 0px 30px 0px;
    padding: 71px 40px 70px;

}

.section-2-image {
    z-index: 4;
}




.ssddsd {
    background: yellow;
    border-radius: 0px 80px 0px;
    box-shadow: 8px 17px 20px 10px #7b6ccb3b;

}

.section-3-button {
    box-shadow: 0px 0px 30px 0px #0000ff4a;
    width: 8em;
    height: 3em;
}

.text-center button {
    border: none;
    background-color: blue;
}

.section-3-text p {
    font-size: 14px;

}

.progress-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.progress {
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress:after {
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}

.progress .progress-bar {
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}

.progress .progress-value {
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

.progress.orange:before {
    border: 7px solid #fe3b3b;
}

.progress.blue:before {
    border: 7px solid #1a4966;
}

.progress.green:before {
    border: 7px solid #53aa2c;
}

.progress.purple:before {
    border: 7px solid #66406f;
}

.progress.orange .progress-value {
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}

.progress.blue .progress-value {
    border: 5px solid #1a4966;
    color: #1a4966;
}

.progress.green .progress-value {
    border: 5px solid #53aa2c;
    color: #53aa2c;
}

.progress.purple .progress-value {
    border: 5px solid #66406f;
    color: #66406f;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}


/* section-4-start */
img.img-fluid.round-tab.hjjjk {
    max-height: 11em;
    object-fit: cover;
    width: 100%;
    min-height: 11em;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
    isolation: isolate;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0d6efd;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid blue;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(13, 110, 253);
    background-color: transparent;
    border-color: transparent transparent blue;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 11px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.ghhgh {
    box-shadow: 0px 0px 19px -6px;
}

/*.section-4-tab {
    background: white;
    border: none;
}
.section-4-tabe {
    height: 40px;
    background: white;
    color: black;
    border-bottom: 2px solid black;
    border: none;
}


.section-4-tabe:focus{
    border-bottom: 3px solid blue;
} */


/* .section-5-start */

.section-5-card {
    margin: 28px;

    padding: 6px;
    padding-top: 20px;
    transition: all 0.3s ease;

}

.section-5-card,
.round-tab {
    border-radius: 10px;
}

.section-5-card:hover {
    background: #dcb3f517;
    box-shadow: 0px 0px 20px 10px #0000ff21;
}

h1.circleavtar {
    background: red;
    text-align: center;
    border-radius: 50%;
    padding: 10px;


}

/* section 6 start  */

.card-image-6 {
    width: 65px;
    border-radius: 50%;
    height: 65px;
}

.dfjknkj {
    position: relative;
    top: -23px;
    left: -8px;
    font-size: 55px;
    /* align-items: center; */
    color: lightblue;
}

.card-6-data-p {
    font-size: 12px;
    color: #4c87a3;
}

.section-6-contant {
    box-shadow: 0px 0px 9px -3px;
    border-radius: 20px;
    height: 18em;
    overflow: hidden;
}

/* section-7-start */

.circle-7 {
    /* width: 69px; */

    color: white;
    display: inline-block;
    padding: 35px 20px 35px 35px;
    border-radius: 30px;
}

.color7-1 {
    background: blue;
    box-shadow: 0px 18px 20px -10px blue;

}

.color7-2 {
    background: pink;
    box-shadow: 0px 18px 20px -10px pink;

}

.color7-3 {
    box-shadow: 0px 18px 20px -10px orange;

    background: orange;
}

.dfdfdfkj {
    max-width: 18em;
    background: white;
    border-radius: 30px;
    transition: all 0.5s ease;
    box-shadow: 10px 11px 18px -5px;
    padding: 50px 25px 20px;
}
.section-7-center{
    text-align: -webkit-center;
}

.dfdfdfkj-1:hover {
    box-shadow: 0px 18px 20px -10px blue;
}

.dfdfdfkj-2:hover {
    box-shadow: 0px 18px 20px -10px pink;
}

.dfdfdfkj-3:hover {
    box-shadow: 0px 18px 20px -10px orange;

}

/* section 8 start  */

img.img-fluid.hghg {
    overflow: hidden;
    min-height: 12em;
    max-height: 12em;
    object-fit: cover;
    /* min-width: 100%; */
}
.banner-6-text {
    transition: all 0.7s ease;
    border-radius: 10px;
}

.banner-6-image img {
    border-radius: 10px 10px 0 0;
    transition: all .5s ease;
}

.banner-6-contant {
    margin-top: -4px;
    padding: 30px;
    border: 1px solid #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner-6-contant h5 {
    font-weight: normal;
    color: #6b6768;
}

.banner-6-contant .page-6 {
    line-height: 22px;
    transition: all 0.7s ease;
    margin-top: 30px;
}

button.section-3-button.sect-2-button.btn.btn.btn-warning.buttoncolor.rounded-pill.fw-bold {
    transition: all 0.5s ease;
}

.banner-6-contant p {
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #6b6768;
}

.banner-6-text:hover {
    transform: translateY(-20px);
    box-shadow: 0px 17px 26px -16px rgb(0 0 0 / 41%);
}

.banner-6-text:hover .banner-6-contant .page-6 {
    color: #f50057;
}

.page-6 {
    color: #000;
}

.banner-6 {
    flex-wrap: wrap;
    /* width: 20%; */
    padding-top: 0.5rem !important;
    justify-content: space-between;
    margin-top: 3rem !important;
}


/* footer start */

footer {
    background: #f7f7f7;
    padding: 50px 0px;
}










.contact-list div {
    padding: 10px 0;
}



.links h6,
.links-contact h6 {
    font-size: 59px;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom-width: 68px;
    border-bottom: 2px solid deepskyblue;
    padding-bottom: 10px;
    padding-left: 30px;
}

.links li {
    list-style-type: none;
    padding: 5px 0;
}

.footer-icon {
    padding: 0 10px;
}

.about p,
.links a,
.links-contact a {
    color: #000;
}

i.fa-solid.fa-angles-right {
    /* font-weight: 500; */
    padding-right: 10px;
}





.section-7 {
    padding: 50px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    background: url("https://demo.w3layouts.com/demos_new/template_demo/20-10-2021/online-study-liberty-demo_Free/676477441/web/assets/images/banner.png") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -10em;
    background-color: #fbfbfb;
    ;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.section-7 h4 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-7 {
    padding: 65px 0px 0 0;
    margin-top: 15em;
    position: relative;
    background: #060e1f;
}

.section-7 .banner-button:hover {
    background: #3f3d56;
    transition: all 0.5s ease;

}

.banner-button {
    transition: all 0.5s ease;

}
/* font family */
.the_owner{
    font-family: 'Lobster', cursive;
}
.font_1{
    font-family: 'Alkatra', cursive;
}
.font_2{
    font-family: 'Dancing Script', cursive;
}
.font_3{
    font-family: 'Sedgwick Ave Display', cursive;
}